<header class="header-nav">
    <div class="firstchild">
        <a href="/">
        <img src="{{'nike.png' |  asset_img_url}}"
         height="40"
         width="80"
         loading="lazy">
        </a>


    </div>
    <div>
        <ul class="middle-nav-bar">
            {% for link in linklists['main-menu'].links %}  
                <li> {{link.title |  link_to: link.url}}</li>
                {%endfor%}
    
        </ul>

    </div>
    <div class="right-nav-items">
{% comment %} search in shopify {% endcomment %}
 <form action="/search">
 <input type="search" class="search-nav" placeholder="search">
 </form>

    <a href="/">
     <img src="{{'d.png' |  asset_img_url}}" alt=""
     height="40"
     width="40"
     loading="lazy"
     >
    </a>
    </div>
</header>

<style>
    .header-nav{
        display: flex;
        justify-content: space-between;
        margin:0;
        background-color: white;
        padding:0 1.8rem;
        align-items: center;
        height: 6rem;

    }
.firstchild{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
    .middle-nav-bar{
        display: flex;
        font-size: 2rem;
        font-weight: bold;

    }
    .middle-nav-bar >li{
        padding:0.8rem;
        list-style-type: none;
        
    }
    .middle-nav-bar li:hover{
        text-decoration: underline;
    }
    .middle-nav-bar > a{
        text-decoration: none;
        color:inherit;
    }

    .right-nav-items{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .search-nav{
        padding:0.8rem;
        margin-top:0.8rem;
        border-radius:10px;
        border:none;
        background-color: rgb(213, 213, 213);
    }
</style>