<section class="all-products">
    <h4>All Products</h4>
    <div class="all-products-container">
        <div class="all-products-wrapper">
           {%for product in collection.products%}
           <h3>{{product.title}}</h3>
       <h2>hello</h2>
           {% endfor %}
        </div>
    </div>
</section>


{% schema  %}
{
    "name":"all-products",
    "settings": [{
        "type":"color",
        "id": "txtcolor",
        "label": "text color",
         "default": "#000000"
    },
    {
        "type": "color",
         "id":"bgcolor",
         "label": "Background Color",
         "default": "$f4f4f4"
    }],
    "presets": [{
        "name":"all-products"
    }]
}
{% endschema %}