
{% schema %}
{
"name":"AnnouncementBar",
"settings": [{
"type": "checkbox",
"id": "show-announcement",
"label": "Show Announcement",
"default": true


}],

"presets": [
]
}

{% endschema %}

<h2>  announcement barr </h2>